
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: white;
    box-sizing: border-box;
    user-select: none;
}

/*!* For Desktop Version *!*/


/* Style the top navigation bar (this is the main navigation list)*/
.nav-list {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Style the topnav links */
.nav-list li, a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 14px;
    text-decoration: none;
    list-style-type: none;
}

/* Change color on hover */
/*.nav-list li:hover, a:hover {*/
/*    background-color: mediumpurple;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*}*/


/* Side nav is the actual navigation bar between products*/
/*.side-nav {*/
/*    height: 100%;*/
/*    width: 10%;*/
/*    position: fixed;*/
/*    top: 67px;*/
/*    left: 0;*/
/*    background-color: darkslateblue;*/
/*    overflow-x: hidden;*/
/*    padding-top: 2.5%;*/
/*}*/


/*.side-nav a, .dropdown-div a {*/
/*    padding: 6px 8px 6px 16px;*/
/*    text-decoration: none;*/
/*    font-size: 150%;*/
/*    font-weight: bold;*/
/*    color: yellow;*/
/*    display: block;*/
/*    background: none;*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*}*/


/*.dropdown-content a:hover {*/
/*    color: red;*/
/*}*/


/*!* hide the product items *!*/
/*.dropdown-content {*/
/*    display: none;*/
/*    padding-left: 20px;*/
/*}*/


/*!* reveal the product items when hover over them*!*/
/*.dropdown-content:hover {*/
/*    display: block;*/
/*}*/

/*!* reveal the product items when hover over them*!*/
/*.dropdown-div:hover + .dropdown-content {*/
/*    display: block;*/
/*}*/


/*!* used to display all products on the right side of the navigation bar*!*/
/*.main {*/
/*    margin-top: 60px;*/
/*    margin-left: 10%; !* Same as the width of the side-nav *!*/
/*}*/


/*!* used for checkout, cart, home, individual product pages*!*/
/*.cart-checkout-product {*/
/*    margin-top: 60px;*/
/*}*/


/**/
/**/
/**/
/**/

/*TODO Since only mobile view is supported, I modified the value of pixels from 1100 to 11000*/
/* Applies for mobile view*/
@media (max-width: 11000px) {


    /* this is used to remove that light blue highlight for buttons on mobile versions*/
    button, a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    /* Page Title */
    h1 {
        margin: 40px auto 35px auto;
        color: purple;
        text-align: center;
        background-color: navajowhite;
        box-shadow: 0 0 15px 4px rgba(44, 171, 12, 1);

    }


    /* Scroll To Top Button*/
    #scroll-to-top {
        position: fixed;
        bottom: 13%;
        right: 1.5%;
        z-index: 99;
        border: none;
        outline: none;
        background-color: yellow;
        color: indigo;
        cursor: pointer;
        padding: 15px;
        border-radius: 20px;
        font-size: 18px;
        opacity: 0.5;
    }


    /**/
    /**/
    /**/
    /**/
    /* Navigation bar*/
    .nav-list {
        height: 40px;
    }


    /* Style the Navigation Bar links */
    .nav-list li, a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 5px 5px 7px;
        text-decoration: none;
        list-style-type: none;
    }

    /* Navigation Bar Back Button behaves like a link*/
    .nav-list button {
        font-size: 20px;
        font-weight: bold;
        background: none !important;
        border: none;
        outline: none;
        font-family: arial, sans-serif;
        float: left;
        display: block;
        color: lightseagreen;
        text-align: center;
        padding: 2px 5px 7px;
        cursor: pointer;
    }

    /* Nav List links when clicked */
    .nav-list a:active {
        background-color: cornflowerblue;
    }

    /* Nav List list item which contains the button */
    #go-back-button-item:active {
        background-color: yellowgreen;
    }

    /* Nav List go back button when clicked*/
    #go-back-button-item button:active {
        color: darkred;
    }

    /*End of Navigation bar*/
    /**/
    /**/
    /**/
    /**/
    /* Side Bar*/
    .side-nav {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: darkorange;
        text-align: left;
    }


    .side-nav .inline-div {
        font-size: 17px;
        padding: 6px 0 6px 6px;
        font-weight: bold;
        display: inline-block;
    }

    /* the links from the side-nav*/
    .inline-div a {
        color: indigo;
    }

    .inline-div:active {
        background-color: cornflowerblue;
    }

    /*End of Side Bar*/
    /**/
    /**/
    /**/
    /**/
    /* Visual part between Nav Bar and Side Bar*/
    .main {
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 50px;
    }


    /* used for checkout, cart, home, individual product pages*/
    .cart-checkout-product {
        margin-top: 40px;
        text-align: center;
    }


    /* End of  Visual part between Nav Bar and Side Bar*/
    /**/
    /**/
    /**/
    /**/
    /* Cards for home Page */
    .card {
        display: block;
        width: 100%;
        margin: 35px auto 35px auto;
        box-shadow: 0 0 15px 4px rgba(30, 148, 212, 1);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }


    /* The price */
    .card .price {
        color: grey;
        font-size: 22px;
    }


    /* Add to cart button */
    .card button {
        border: none;
        outline: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: darkred;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        margin-top: 15px;
    }


    /* Visit Product link */
    .card a {
        float: inherit;
        border: none;
        outline: none;
        outline: 0;
        padding: 12px 12px 12px 12px;
        color: white;
        background-color: blueviolet;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
    }


    /* Visit product link on click */
    .card a:active {
        background-color: darkorange;
    }


    /* Add to Cart button on click */
    .card button:active {
        background-color: darkgreen;
    }


    .card-image {
        width: 100%;
        height: auto;
    }

    /*end of Cards for Homepage*/
    /*  Product table  */
    table {
        table-layout: auto;
        width: 100%;
        font-family: arial, sans-serif;
        border-collapse: collapse;
    }

    th {
        position: sticky;
        top: 39px;
        background-color: orange;
        border: 1px solid blueviolet;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        text-align: center;
        padding: 8px;
    }

    td {
        border: 1px solid blueviolet;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: lightseagreen;
    }

    tr:nth-child(odd) {
        background-color: lightgreen;
    }


    /*  End of Product Table  */
    /**/
    /**/
    /**/
    /**/
    /*  Cart Page  */
    .item-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .item-card {
        box-shadow: 0 0 15px 4px rgba(182, 46, 194, 1);
        padding: 16px;
        text-align: center;
    }


    .item-row {
        margin: 0 -5px;
    }


    .item-row:after {
        content: "";
        display: table;
        clear: both;
    }


    .quantity-container {
        display: inline-block;
        width: 130px;
    }


    /* the quantity circle value */
    .quantity-value {
        display: inline-block;
        border-radius: 50%;
        width: 30%;
        height: 10%;
        padding: 8px;
        border: 2px solid blueviolet;
        color: blueviolet;
        text-align: center;
        font-size: 32px;
    }


    /* The plus and minus buttons */
    .quantity-button {
        background-color: lightseagreen;
        color: darkmagenta;
        border: none;
        outline: none;
        padding: 8px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .quantity-button:active {
        background-color: lightsalmon;
    }


    /* Buy button */
    .buy-button {
        border: none;
        outline: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: indigo;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        margin-top: 15px;
    }


    /* Buy Button on click */
    .buy-button:active {
        background-color: darkgreen;
    }


    /* Empty cart image */
    .empty-cart-image {
        display: block;
        width: 100%;
        margin: 35px auto 35px auto;
        top: 20%;
        height: auto;
    }

    /* End of Cart Page */
    /**/
    /**/
    /**/
    /**/
    /* Start of Checkout Page */

    .checkout-col {
        margin-bottom: 20px;
    }

    /* the container for checkout*/
    .checkout-container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
    }

    /* name of the product*/
    .checkout-container p {
        text-align: left;
        font-size: 20px;
    }

    /* price of the product*/
    .checkout-container span.price {
        float: right;
        color: grey;
        font-size: 20px;
    }

    hr {
        border: 1px solid lightgrey;
    }
}
