body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: white;
    box-sizing: border-box;
}

/* Style the top navigation bar (this is the main navigation list)*/
.nav-list {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Style the topnav links */
.nav-list li, a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 14px;
    text-decoration: none;
    list-style-type: none;
}

/* Change color on hover */
.nav-list li:hover, a:hover {
    background-color: mediumpurple;
    color: white;
    cursor: pointer;
}


/* Side nav is the actual navigation bar between products*/
.side-nav {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 67px;
    left: 0;
    background-color: darkslateblue;
    overflow-x: hidden;
    padding-top: 2.5%;
}


.side-nav a, .dropdown-div a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
    color: yellow;
    display: block;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


.dropdown-content a:hover {
    color: red;
}


/* hide the product items */
.dropdown-content {
    display: none;
    padding-left: 20px;
}


/* reveal the product items when hover over them*/
.dropdown-content:hover {
    display: block;
}

/* reveal the product items when hover over them*/
.dropdown-div:hover + .dropdown-content {
    display: block;
}


/* used to display all products on the right side of the navigation bar*/
.main {
    margin-top: 60px;
    margin-left: 10%; /* Same as the width of the side-nav */
}


/* used for checkout, cart, home, individual product pages*/
.cart-checkout-product {
    margin-top: 60px;
}


/* Applies for mobile view*/
@media (max-width: 1000px) {

    /* Navigation bar*/
    .nav-list {
        height: 40px;
    }


    /* Style the topnav links */
    .nav-list li, a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 5px 5px 7px;
        text-decoration: none;
        list-style-type: none;
    }

    /*End of Navigation bar*/
    /* Side Bar*/
    .side-nav {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        top: 93%;
        color: white;
        background-color: darkslateblue;
        text-align: left;
    }


    .side-nav .inline-div {
        display: inline-block;
        font-size: 10px;
    }

    /*End of Side Bar*/
    /* Visual part between Nav Bar and Side Bar*/
    .main {
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 50px;
    }


    /* used for checkout, cart, home, individual product pages*/
    .cart-checkout-product {
        margin-top: 40px;
        text-align: center;
    }

    /* End of  Visual part between Nav Bar and Side Bar*/
    /* Cards for home Page */
    .card {
        display: block;
        width: 100%;
        margin: 35px auto 35px auto;
        box-shadow: 0px 0px 15px 4px rgba(230, 161, 23, 1);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The price */
    .card .price {
        color: grey;
        font-size: 22px;
    }

    /* The visit product link*/
    .card .visit-link {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: black;
        text-align: center;
        cursor: pointer;
        margin: auto;
        font-size: 18px;
        display: inline-block;
        user-select: none;
    }


    /* Add to cart button*/
    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: blueviolet;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    /*Add to cart button on hover*/
    .card button:active {
        background-color: darkmagenta;
    }

    .card-image {
        width: 100%;
        height: auto;
    }

    /*end of Cards for Homepage*/
    /*  Product table  */
    table {
        table-layout: auto;
        width: 100%;
        font-family: arial, sans-serif;
        border-collapse: collapse;
    }

    th {
        position: sticky;
        top: 39px;
        background-color: orange;
        border: 1px solid blueviolet;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        text-align: center;
        padding: 8px;
    }

    td {
        border: 1px solid blueviolet;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: lightseagreen;
    }

    tr:nth-child(odd) {
        background-color: lightgreen;
    }


    /*  End of Product Table  */
}
