body {
    font-family: 'Times New Roman', Arial, sans-serif;
    padding: 10px;
    background: white;
    box-sizing: border-box;
}

/* Style the top navigation bar (this is the main navigation list)*/
.nav-list {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Style the topnav links */
.nav-list li, a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px 14px;
    text-decoration: none;
    list-style-type: none;
}

/* Change color on hover */
.nav-list li:hover, a:hover {
    background-color: mediumpurple;
    color: white;
    cursor: pointer;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}


/*HOME PAGE*/
.sidenav {
    height: 100%;
    width: 150px;
    top: 73px;
    left: 0;
    position: fixed;
    background-color: darkslateblue;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .dropdown-div {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-content a:hover {
    color: red;
}


/* hide the months */
.dropdown-content {
    display: none;
    padding-left: 20px;
}


/* reveal the months when hover over them*/
.dropdown-content:hover {
    display: block;
}


.dropdown-div:hover + .dropdown-content {
    display: block;
}


/* used to display all products on the right side of the navigation bar*/
.main {
    margin-top: 70px;
    margin-left: 150px; /* Same as the width of the sidenav */
    padding: 0 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav div button {
        font-size: 15px;
    }
}


/*used for checkout, cart, home pages*/
.cart-checkout {
    margin-top: 70px;
}